<html>
  <head>
    {% load staticfiles %}
    <link rel="shortcut icon" href="{% static "images/letter_i_red.ico" %}">
    <link href="{% static "css/mainpage.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/menu.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen">
    <script type="text/javascript" src="{% static "js/jquery-1.9.1.min.js" %}" >
    </script>
    <link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style type="text/css">
    a {
      text-decoration: none;
      }
      .navbar-inverse .navbar-nav>li>a {
      color: #FFF;
      }
      .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
      color: #999;
      background-color: transparent;
      }
      .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
      color: #fff;
      text-decoration: none;
      background-color: rgba(129, 13, 13, 0.84);
      font-weight: 600;
      }
      .dropdown-menu>li>a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.428571429;
      color: #333;
      white-space: nowrap;
      font-size: 17;
      }
      </style>
    
    {% block header %}
    {% endblock %}
    <title>
      {{title}}
    </title>
  </head>
  <body  id="radial-center">
    <div class="container-fluid">
      

          
          
          <div  id="menu_box" style="margin-left: 0px" >
            <img>
            <a href="/" style="position: relative;left: 0px;float: left;white-space: nowrap;height:50px;top: -6px;z-index: 999" title="CLick here to go to Home">
                
              </a>
          
            {% include "nav.html" %}
        </div>
      </div>
          </div>
          
          
          
          <center>
            
          
          <br>
          {% block content_div %}
          <div id="main_div" class="row container" style="display:none;position: relative;z-index: 2;margin-top: 20px">
          {% endblock %}
            
            {% block content %}
            
            {% endblock %}
          </div>
          <br>
          
          
          
          
          <footer id = "footer">
            <p style = "text-align: center;
width: 99%;
position: fixed;
color: white;
bottom: 0px;
font-size: 15px;
z-index: 9999;
background-color: rgba(48, 23, 23, 0.2);
-webkit-margin-before: 0;
-webkit-margin-after: 0;" >
  <a href="http://www.facebook.com/InnovateWD">
    <img src="{% static 'images/icons/facebook.png'%}" style="width:32px;"  alt="FB">
  </a>
  <a href="http://instagram.com/Innovate_m_p">
    <img src="{% static 'images/icons/Instagram-32-4.png'%}" style="width:32px;" alt="FB">
  </a>
  <a href="">
    <img src="{% static 'images/icons/Soundcloud-orange-32.png'%}" style="width:32px;" alt="FB">
  </a>
  <a href="http://www.youtube.com/user/013Pete">
    <img src="{% static 'images/icons/youtube.png'%}" style="width:32px;" alt="FB">
  </a>
  <a href="https://twitter.com/InnovateMP">
    <img src="{% static 'images/icons/twitter.png'%}" style="width:32px;" alt="FB">
  </a>
  <a href="">
    <img src="{% static 'images/icons/google.png'%}" style="width:32px;" alt="FB">
  </a>
  <a href="">
    <img src="{% static 'images/icons/pinterest.png'%}" style="width:32px;" alt="FB">
  </a>
  
              </p>
          </footer>
          </center>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
          <script type="text/javascript" src="{% static "js/jquery.easing.1.3.js" %}" >
          </script>
          <script  type="text/javascript">
            
            
            
            
            
            
          $(function() {
              var $loader = $('#st_loading');
              //Show a Loading untill the main div is all loaded
              $('#main_div').ready(function() {
                  $loader.hide();
                  $('#main_div').fadeIn(3000);
              });
              var $menu = $('#sdt_menu');
              var $menu_box = $('#menu_box');
              $menu_box.bind('mouseenter', function() {
                  $menu.stop().animate({
                      'top': '70px'
                  }, 400, 'easeOutBack');
              });
              $menu_box.stop().bind('mouseleave', function() {
                  $menu.animate({
                      'top': '0px'
                  }, 400, 'easeOutBack');
              });
              $('#sdt_menu > li').bind('mouseenter', function() {
                  var $elem = $(this);
                  $elem.find('img').stop(true).animate({
                      'width': '160px',
                      'height': '150px',
                      'left': '0px'
                  }, 400, 'easeOutBack').andSelf().find('.sdt_wrap').stop(true).animate({
                      'z-index': '16',
                      'top': '120px'
                  }, 500, 'easeOutBack').andSelf().find('.sdt_active').stop(true).animate({
                      'z-index': '16',
                      'height': '150px'
                  }, 300, function() {
                      var $sub_menu = $elem.find('.sdt_box');
                      if ($sub_menu.length) {
                          var left = '160px';
                          if ($elem.parent().children().length == $elem.index() + 1) left = '-160px';
                          $sub_menu.show().animate({
                              'left': left
                          }, 200);
                      }
                  });
              }).bind('mouseleave', function() {
                  var $elem = $(this);
                  var $sub_menu = $elem.find('.sdt_box');
                  if ($sub_menu.length) $sub_menu.hide().css('left', '0px');
                  $elem.find('.sdt_active').stop(true).animate({
                      'height': '0px'
                  }, 300).andSelf().find('img').stop(true).animate({
                      'width': '0px',
                      'height': '0px',
                      'left': '85px'
                  }, 400).andSelf().find('.sdt_wrap').stop(true).animate({
                      'top': '15px'
                  }, 500);
              });
          });
          
          </script>
          {% block endjs %}
          {% endblock %}
      </div>
      <script src="{% static "js/bootstrap.min.js" %}"></script>
  </body>
</html>
