{% extends "base2.html"%}
{% load staticfiles  thumbnail%}
{% block header %}

<meta charset="UTF-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>InnOvate</title>
<link rel="shortcut icon" href="../favicon.ico">
<link rel="stylesheet" href="{% static "ga/css/style.css" %}" />
<script src="{% static "ga/js/modernizr.custom.70736.js" %}" ></script>
<noscript><link rel="stylesheet" type="text/css" href="{% static "ga/css/noJS.css" %}" href="css/noJS.css"/></noscript>
<!--[if lte IE 7]>
<style>.main{display:none;} .support-note .note-ie{display:block;}</style>
<![endif]-->
{% endblock %}
{% block content %}
<div class="container">
	<div class="main" style="background-color:rgba(68, 2, 2, 0);">
		<header class="clearfix">
			<div class="support-note">
				<span class="note-ie">Sorry, only modern browsers.</span>
			</div>
		</header>
		<div class="gamma-container gamma-loading" id="gamma-container" style="">
			<ul class="gamma-gallery ">
				{% include page_template %}
		</div>
	</div>
	<!--/main-->
</div>
    {% block endjs %}
<script src="{% static "ga/js/jquery.masonry.min.js" %}" ></script>
<script src="{% static "ga/js/jquery.history.js" %}" ></script>
<script src="{% static "ga/js/js-url.min.js" %}" ></script>
<script src="{% static "ga/js/jquerypp.custom.js" %}" ></script>
<script src="{% static "ga/js/gamma.js" %}" ></script>
    {% endblock %}

	<script type="text/javascript">
			
			$(function(){

				var GammaSettings = {
						// order is important!
						viewport : [ {
							width : 1200,
							columns : 5
						}, {
							width : 900,
							columns : 4
						}, {
							width : 500,
							columns : 3
						}, { 
							width : 320,
							columns : 2
						}, { 
							width : 0,
							columns : 2
						} ]
				};

				Gamma.init( GammaSettings, fncallback );


				// Example how to add more items (just a dummy):

				var page = 0,
					items = ['']

				function fncallback() {
					$( '#loadmore' ).show();

					// $( '#loadmore' ).show().on( 'click', function() {

					// 	++page;
					// 	var newitems = items[page-1]
					// 	if( page <= 1 ) {
							
					// 		Gamma.add( getmore() );

					// 	}
					// 	if( page === 1 ) {

					// 		$( this ).remove();

					// 	}

					// } );

				}

				function getParameterByName(name) {
				    name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
				    var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
				        results = regex.exec(location.search);
				    return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
				}
				function getmore(){
					$.ajax
					 ({
					    type: "GET",
					    url: "/gallery/",
					    data: {  "page": page,"album":getParameterByName("album")},
					    success: function(req)
					    {
					   	console.log(req);
					     return req;
					    }
					 })
				} //endgetmore

			});

		</script>	
{% block js %}
    {{ block.super }}
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static "endless_pagination/js/endless-pagination.js" %}"></script>
    // <script>
    //     $.endlessPaginate({
    //         paginateOnScroll: true,
    //         paginateOnScrollChunkSize: 5
    //         ,
    //         onCompleted: function(context, fragment) {
    //             console.log('Label:', $(this).text());
    //             console.log('URL:', context.url);
    //             console.log('Querystring key:', context.key);
    //             console.log('Fragment:', fragment);
    //         }
    //     });
    // </script>
{% endblock %}
{% endblock %}


