{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block header %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
<link href="{% static "css/lens.css" %}" rel="stylesheet" media="screen">
<!-- <link rel="stylesheet" type="text/css" href="main-page/rotate/css/demo.css" />
    <link rel="stylesheet" type="text/css" href="main-page/rotate/css/style.css" /> -->
<link href='http://fonts.googleapis.com/css?family=Montserrat|Sail|Concert+One' rel='stylesheet' type='text/css' />
<link rel="stylesheet" href="{% static "css/stripbar.css" %}" type="text/css" media="screen"/>
<!-- <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script> -->
<style>
    span.reference{
    font-family:Arial;
    position:fixed;
    left:10px;
    bottom:10px;
    font-size:11px;
    }
    span.reference a{
    color:#aaa;
    text-decoration:none;
    margin-right:20px;
    }
    span.reference a:hover{
    color:#ddd;
    }
    #menu_logo{
    display:none;
    }
    #sdt_menu{
    width: 920px;
    }
    .container{
    width:100%;
    }
</style>
{% endblock %}
{% block content %}
		<div id="st_main" class="st_main" style="margin-left: 0px;">
			<img src="main-page/images/album/1.jpg" alt="" class="st_preview" style="display:none;"/>
<div id="logo_div2" style="display:none;">
    <img style="
        position: absolute;
        z-index: 4;
        float: left;
        left: 0px;
        bottom: 1%;height:20%;" src="{% static 'img/logo-white.png'%}" >
</div>
<div id="lens_div" style="margin: auto;width: 500px;vertical-align:middle;position: relative;
    z-index: 2;
    ">
    <div style="border:5px;">
        <div  id="camera_lens" class="circle">
            <!-- <h1>Innovate </h1> -->
            <div class="rotate"  ><img src="{% static 'images/back.png'%}"  id="backimg" /></div>
        </div>
        <h3 id="example4" style="
font-family: 'Jura', sans-serif;
        font-weight: bold;

            text-transform: uppercase;
            text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
            color: #F8ECBF;
            font-size: 45px;
            position: relative;
            right: -15px;margin-top: 110px;
            z-index: 2">When Seniors Create..</h3>
    </div>
</div>
<ul id="st_nav" class="st_navigation">
    <li class="album">
        <span class="st_link"><span class="st_arrow_down"></span></span>
        <div class="st_wrapper st_thumbs_wrapper">
            <div class="st_thumbs">
            	{% for thumb in thumbnails %}
	            	{% thumbnail thumb.image.file "200x100" as im %}
	            	    <img src="{{ im.url }}" alt="{{ thumb.image.url }}">
	            	{% endthumbnail %}
				{% endfor %}
            </div>
        </div>
    </li>
</ul>
</div>
<!-- The JavaScript -->
       <script type="text/javascript">
            $(function() {
				//the loading image
				var $loader		= $('#st_loading');
				//the ul element 
				var $list		= $('#st_nav');
				//the current image being shown
				
				// var $currImage 	= $('#st_main').children('img:first');
				var $currImage 	= $('.rotate').children('img:first');

				

				//let's load the current image 
				//and just then display the navigation menu
				$('<img>').load(function(){
					$loader.hide();
					$currImage.fadeIn(3000);
					
					//slide out the menu
					setTimeout(function(){
						$list.animate({'left':'0px'},500);
					},
					1000);
				}).attr('src',$currImage.attr('src'));
				
				//calculates the width of the div element 
				//where the thumbs are going to be displayed
				buildThumbs();
				
				function buildThumbs(){
					$list.children('li.album').each(function(){
						var $elem 			= $(this);
						var $thumbs_wrapper = $elem.find('.st_thumbs_wrapper');
						var $thumbs 		= $thumbs_wrapper.children(':first');
						//each thumb has 180px and we add 3 of margin
						var finalW 			= $thumbs.find('img').length * 183;
						$thumbs.css('width',finalW + 'px');
						//make this element scrollable
						makeScrollable($thumbs_wrapper,$thumbs);

						var $this = $list.find('.st_arrow_down');
						hideThumbs();

						$this.addClass('st_arrow_up').removeClass('st_arrow_down');
						var $elem = $this.closest('li');
						$elem.addClass('current').animate({'height':'208px'},200);
						var $thumbs_wrapper = $this.parent().next();
						$thumbs_wrapper.show(200);
					});
				}

				
				//clicking on the menu items (up and down arrow)
				//makes the thumbs div appear, and hides the current 
				//opened menu (if any)

				$list.find('.st_arrow_down').live('click',function(){
					var $this = $(this);
					hideThumbs();
					$('.st_preview').fadeOut(500);
					$this.addClass('st_arrow_up').removeClass('st_arrow_down');
					var $elem = $this.closest('li');
					$elem.addClass('current').animate({'height':'208px'},200);
					var $thumbs_wrapper = $this.parent().next();
					$thumbs_wrapper.show(200);
				});
				$list.find('.st_arrow_up').live('click',function(){
					var $this = $(this);
					$this.addClass('st_arrow_down').removeClass('st_arrow_up');
					hideThumbs();
				});
				
				//clicking on a thumb, replaces the large image

				$list.find('.st_thumbs img').bind('mouseenter',function(){


					var $this = $(this);
					$loader.show();
					$('#logo_div2').fadeIn(100);


					

					$('<img class="st_preview"/>').load(function(){
						var $this = $(this);
						var $currImage = $('#st_main').children('img:first');
						$this.insertBefore($currImage);
						$loader.hide();
						$currImage.stop().fadeOut(500,function(){
							$(this).remove();
						});
					}).attr('src',$this.attr('alt'));
				})
				.bind('mouseenter',function(){
					$(this).stop().animate({'opacity':'1'});
				}).bind('mouseleave',function(){
					$(this).stop().animate({'opacity':'0.7'});
				});
				$('.st_wrapper').bind('mouseleave',function(){
					$('#logo_div2').fadeOut(100);

				$('.st_preview').stop().fadeOut(1000);
				});
				
				//function to hide the current opened menu
				function hideThumbs(){
					$list.find('li.current')
						 .animate({'height':'50px'},400,function(){
							$(this).removeClass('current');
						 })
						 .find('.st_thumbs_wrapper')
						 .hide(200)
						 .andSelf()
						 .find('.st_link span')
						 .addClass('st_arrow_down')
						 .removeClass('st_arrow_up');
				}

				//makes the thumbs div scrollable
				//on mouse move the div scrolls automatically
				function makeScrollable($outer, $inner){
					var extra 			= 800;
					//Get menu width
					var divWidth = $outer.width();
					//Remove scrollbars
					$outer.css({
						overflow: 'hidden'
					});
					//Find last image in container
					var lastElem = $inner.find('img:last');
					$outer.scrollLeft(0);
					//When user move mouse over menu
					$outer.unbind('mousemove').bind('mousemove',function(e){
						var containerWidth = lastElem[0].offsetLeft + lastElem.outerWidth() + 2*extra;
						var left = (e.pageX - $outer.offset().left) * (containerWidth-divWidth) / divWidth - extra;
						$outer.scrollLeft(left);
					});
				}
            });
        </script>
<!-- import JS -->
<!-- <script src="main-page/http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> -->

<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script src="http://s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
<!--[if IE]>
<script src="assets/js/PIE.js" ></script>
<![endif]-->
<script type="text/javascript">
    // var img = $('.rotate');
    var img = $('#backimg');
    
    
    if(img.length > 0){
        var offset = img.offset();
        function mouse(evt){
            var center_x = (offset.left) + (img.width()/2);
            var center_y = (offset.top) + (img.height()/2);
            var mouse_x = evt.pageX; var mouse_y = evt.pageY;
            var radians = Math.atan2(mouse_x - center_x, mouse_y - center_y);
            var degree = (radians * (180 / Math.PI) * -1) + 90; 
            img.css('-moz-transform', 'rotate('+degree+'deg)');
            img.css('-webkit-transform', 'rotate('+degree+'deg)');
            img.css('-o-transform', 'rotate('+degree+'deg)');
            img.css('-ms-transform', 'rotate('+degree+'deg)');
    img.css("-ms-filter", "progid:DXImageTransform.Microsoft.Matrix(M11=0.8191520442889916, M12=-0.5735764363510465, M21=0.5735764363510465, M22=0.8191520442889916, SizingMethod='auto expand')");   
    
        }
        $(document).mousemove(mouse);
    }
    
</script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
    // var $example4	= $('#example4').hide();
    
    google.load('webfont','1');
    google.setOnLoadCallback(function() {
    	WebFont.load({
    		google		: {
    			families	: ['Montserrat','Concert One']
    		},
    		fontactive	: function(fontFamily, fontDescription) {
    		},
    		fontinactive	: function(fontFamily, fontDescription) {
    		}
</script>

{% endblock %}