{% load staticfiles %}
<link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
<style type="text/css">
a {
  text-decoration: none;
  }
  .navbar-inverse .navbar-nav>li>a {
  color: #FFF;
  }
  .navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus {
  color: #999;
  background-color: transparent;
  }
  .dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #fff;
  text-decoration: none;
  background-color: rgba(129, 13, 13, 0.84);
  font-weight: 600;
  }
  .dropdown-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.428571429;
  color: #333;
  white-space: nowrap;
  font-size: 17;
  }
  </style>
 <div class="navbar navbar-inverse navbar-default navbar-fixed-top" style="background-color: rgba(127, 127, 127, 0.37);font-family:'Jura';font-weight: 800;font-size: 18px;background: rgba(129, 13, 13, 1);">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" style="padding: 0px 15px 0PX 0px;"><img style="height: 50PX;" src="{% static 'img/logo-white.png'%}" ></a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <!--<li class="active"><a href="/">Home</a></li>-->
              <li><a href="/about">About</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advertising Campaigns<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/promoclips">TV Ads</a></li>
                  <li><a href="/documentaryclips">Documentary Films</a></li>
                  <!--<li class="divider"></li>-->
                  <li><a href="">Media Planning</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Photography<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/p/S">Photo Sessions</a></li>
                  <li><a href="/p/W">Weddings</a></li>
                  <li><a href="/p/A">Making</a></li>
                  <li><a href="/p/A">Advertisment</a></li>

                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Events & Exhibitions<b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="/p/ET">Event Tools</a></li>
                  <li><a href="/p/E">Event Making</a></li>
                  <!--<li class="divider"></li>
                  <li class="dropdown-header">Advertising</li>
                  <li><a href="/promoclips">TV Ads</a></li>
                -->
                </ul>
              </li>
              <li><a href="/Contact">Contact Us</a></li>
            </ul>
            <!--<ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="./">navbar-right</a></li>
            </ul> -->
          </div><!--/.nav-collapse -->