{% load thumbnail endless %}

				{% paginate picture %}
				{% for p in picture %}
				<li>
					<div data-alt="img03" data-description="<h3>Sky high</h3>" data-max-width="1800" data-max-height="1350">

						    <div data-src="{% thumbnail p.file 1300x0 %}"  data-min-width="1300"></div>
						    <div data-src="{% thumbnail p.file 1000x0 %}"  data-min-width="1000"></div>
						    <div data-src="{% thumbnail p.file 700x0 %}"  data-min-width="700"></div>
						    <div data-src="{% thumbnail p.file 300x0 %}"  data-min-width="300"></div>
						    <div data-src="{% thumbnail p.file 200x0 %}"  data-min-width="200"></div>
						    <div data-src="{% thumbnail p.file 140x0 %}"  data-min-width="140"></div>
						    <div data-src="{% thumbnail p.file 140x0 %}">
						</div>
						<noscript>
							    <img src="{% thumbnail p.file 140x0 %}"  alt="img03"/>
						</noscript>
					</div>
				</li>
				{% endfor %}
			</ul>
			<div class="gamma-overlay"></div>
			<div id="loadmore" class="loadmore">{% show_more %}</div>