{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block header %}
   <!-- <link href="{% static "css/bootstrap.css" %}" rel="stylesheet" media="screen"> -->
  <link href="{% static "css/shortmovies.css" %}" rel="stylesheet" media="screen">
  <!-- <link href="{% static "css/b.css" %}" rel="stylesheet" media="screen"> -->
{% endblock %}
<style type="text/css">
		.promofont{
		color: white;
		font-family: 'Leckerli One', cursive;
		}
</style>
{% block content %}
{% load www_filters %}
{% if wedding %}
<div style="text-align:left; color:white;margin-bottom: -12px;"><h1>Wedding Videos</h1></div>
{% endif %}

{% if doc %}
<div style="text-align:left; color:white;margin-bottom: -12px;"><h1>Documentary Videos</h1></div>
{% endif %}

{% if promo %}
<div style="text-align:left; color:white;margin-bottom: -12px;"><h1>Promo Videos</h1></div>
{% endif %}

<div class="row">

<div class="span11">
{% for video in list_of_videos %}
<div id="video-content{{video.id}}" class="video_tag"><a href="#" id="close_icon" onClick="closeVideoDiv({{video.id}})" style="float: right;padding-right: 24px;padding-top: 7px;">close</a>>
<div style="float:left;padding-left: 120px;padding-top:25px;">
					<label style="float:left;">Title: {{video.title}} </label><br>
					<label style="float:left;">Photogrpaher: {{video.photographer}}</label><br>
					<label style="float:left;"> Producer: {{video.producer}}</label><br>
					<label style="float:left;">Director : {{video.director}}</label><br>
					<label style="float:left;">Number of views: {{video.number_of_views}}</label><br>
				</div>
	<div class="video">{{video.youtube_url|youtube_embed_url|safe }}</div></div>
{% endfor %}

{% for video in list_of_videos %}

<div id="a{{video.id}}" class="span2">
	<p id="title{{video.id}}" class="p_title">{{video.title}}</p>
	    {% thumbnail video.video_cover "170x170" as im %}
		    <img  onmouseout="hidetitle({{video.id}})" onmouseover="displaytitle({{video.id}});" style="border-radius: 15px;max-height:150px;" src="{{ im.url }}" alt="{{ thumb.image.url }}">
		{% endthumbnail %}
</div>
{% endfor %}
</div>
</div>
	<script type="text/javascript">
	function displaytitle(id){
		$('#title'+id).css('opacity','1');
	}
	function hidetitle(id){
		$('#title'+id).css('opacity','0');
	}
	var videoDown = false;
	var position_of_video = -1;

	
	function showVideoDiv(id){
		$('#navigation-bar').hide();
		    if(!videoDown){
		    	// var b = id-(id%5);
		    	var a = id;	
		    	var n = $("#a"+a).offset().top
		    	$("#video-content"+id).css('padding-left','-95px')
		    	$("#video-content"+id).slideDown("slow");
		       		$('html, body').animate({
		        	scrollTop: n
		     		}, 3000);
		        $('#'+id).css('padding-left','0px');
		        $('#'+id).css('padding-top','0px');
		    	videoDown = true;
		    	position_of_video = id;   
		  		}
		  	
		  	else{
		  		var a = id;	
		    	var n = $("#a"+a).offset().top
		  		closeVideoDiv(position_of_video);
		  		$("#video-content"+id).slideDown("slow");
		        $('html, body').animate({
		        	scrollTop: n
		     	}, 3000);   
				videoDown = true;
				position_of_video = id;	
					}

  
  			$.ajax({
    url: '/testincrement/',
    type: 'POST',
    data: {
      video : id,
    },
  });

  	}
	function closeVideoDiv(id){
  		$('#navigation-bar').show();
  		$("#video-content"+id).slideUp("slow");
  		videoDown = false;
  		position_of_video = -1;
  	}
	</script>
	
{% endblock %}