{% extends 'base.html' %}
{% load thumbnail %}
{% load staticfiles %}
{% block header %}
	<link rel="stylesheet" href="{% static "css/prettyPhoto.css" %}" type="text/css" media="screen" title="prettyPhoto main stylesheet" charset="utf-8" />
	<link href="{% static "css/wed.css" %}" rel="stylesheet" media="screen">
	<script src="{% static "js/jquery.prettyPhoto.js" %}" type="text/javascript"  charset="utf-8"></script>
	<script src="{% static "js/modernizr.custom.97074.js" %}"></script>
	<link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>



{% endblock %}
{% block content %}
{% if wedding %}
<div style="text-align:left; color:white;margin-bottom: -12px;"><h1>Wedding Videos</h1></div>
{% endif %}

{% if doc %}
<div style="text-align:left; color:white;margin-bottom: -12px;"><h1>Documentary Videos</h1></div>
{% endif %}

{% if promo %}
<div style="text-align:left; color:white;margin-bottom: -12px;"><h1>Promo Videos</h1></div>
{% endif %}

<div class="gallery clearfix da-thumbs container" id="da-thumbs">
{% for video in list_of_videos %}
				<li class="item" style="width: 266px;">
					<a href="{{video.youtube_url}}?width=90%&height=90%?rel=0" rel="prettyPhoto" class="prettyPhoto" title="{{video.title}}"><img src="{% thumbnail video.video_cover.file 250x250 crop %}" width="250" alt="" /><div><span>{{video.title}}</span></div></a>
				</li>

{% endfor %}
</div>

<script type="text/javascript">
			$(document).ready(function(){
				$(".prettyphoto").prettyPhoto();
			});
</script>
  <script type="text/javascript" src="{% static "js/jquery.hoverdir.js" %}"></script>  
<script type="text/javascript">
  $(function() {
    $(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );
  });
</script>
{% endblock %}

