{% extends "base.html"%}
{% load thumbnail %}
{% load staticfiles %}
{% block header %}
<link href="{% static "css/wed.css" %}" rel="stylesheet" media="screen">
<script type="text/javascript" src="{% static "js/jquery.min.js" %}" >
</script>
<link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}

<div class = "title" >
  <h1>
  	{%if category == "W" %}
    Wedding Albums 
    {% elif category == "E" %}
	Events Albums
    {% elif category == "A" %}
    Advertising Albums
    {% endif %}
  </h1>
  
</div>
<div class="weddingalbums" id = "picture">
  {% for a in album %}
  <a href="/gallery/?album={{a.id}}">
    <div class "myimage">
      <img src="{% thumbnail a.pic.file 400x400 %}" alt="{{ a.album_cover.picture1.url }}" onClick='gotogall({{a.id}})'>
      </div>
          <div class = "albumtitle">
            <p>
              <strong>
                {{a.id}}
              </strong>
            </p>
            
          </div>
          </a>
          
          
          {% endfor %}
          
          
  </div>
  <script>
	function gotogall(picture){
      window.location.replace('/gallery/?album='+picture);
	}
   ;
  </script>
  
  
  {% endblock %}