{% extends "base.html"%}
{% load staticfiles %}
{% load thumbnail %}
{% block header %}
<link href="{% static "css/wed.css" %}" rel="stylesheet" media="screen">
<script src="{% static "js/modernizr.custom.97074.js" %}"></script>
<script type="text/javascript" src="{% static "js/jquery.min.js" %}" >
</script>
<link href='http://fonts.googleapis.com/css?family=Jura' rel='stylesheet' type='text/css'>
{% endblock %}
{% block content %}

<div class = "title" >
  <h1>
  	{%if category == "W" %}
    Wedding Albums 
    {% elif category == "E" %}
	Events Albums
    {% elif category == "A" %}
    Advertising Albums
    {% endif %}
  </h1>
  
</div>
<div class="weddingalbums" id = "picture">
<ul id="da-thumbs" class="da-thumbs">
{% for thumb in album %}
          <li>
            <a href="/gallery/?album={{thumb.album.id}}">
              <img src="{% thumbnail thumb.pic.file 350x0 %}" alt="{{ thumb.pic.url }}" onClick='gotogall({{thumb.id}})'> 
              <div><span>{{thumb.album.folder.name}}</span></div>
            </a>
          </li>
  {% endfor %}
        </ul>
  </div>
  <script type="text/javascript" src="{% static "js/jquery.hoverdir.js" %}"></script>  
<script type="text/javascript">
  $(function() {
  
    $(' #da-thumbs > li ').each( function() { $(this).hoverdir(); } );

  });
</script>
  {% endblock %}
