@media (min-width: 1000px) {

    .circle {
        z-index: 1;
        /*background: rgb(255,255,255);*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-radius: 100%;
        cursor: pointer;
        width: 25em;
        height: 25em;
        overflow: hidden;
        position: relative;
    /*    left: 20%;
        bottom: 20%;*/

        -moz-box-shadow: 0px -1px 10px #000000;
        -webkit-box-shadow: 0px -1px 10px #000000;
        box-shadow: 0px -1px 10px #000000;
        transform: translateZ(0);
        margin: auto;
        top: 114px;
    }

    @media (max-width: 999px) {
    .circle {
        z-index: 1;
        /*background: rgb(255,255,255);*/
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        border-radius: 100%;
        cursor: pointer;
        width: 15em;
        height: 15em;
        overflow: hidden;
        position: relative;
    /*    left: 20%;
        bottom: 20%;*/

        -moz-box-shadow: 0px -1px 10px #000000;
        -webkit-box-shadow: 0px -1px 10px #000000;
        box-shadow: 0px -1px 10px #000000;
        transform: translateZ(0);
        margin: auto;
        top: 114px;
    }

  }
.circle h1 {
    color: rgba(189, 185, 199,0);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 1.6em;
    line-height: 8.2em;
    text-align: center;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    user-select: none;
    transition: color 0.8s ease-in-out;
}
 
.circle:before,
.circle:after {
    border-radius: 100%;
    content:"";
    position: absolute;
    top: 0; 
    left: 0;
    width: inherit; 
    height: inherit;            
    box-shadow: 
            inset 10.6em 0 0 rgba(0, 0, 0, 0.4), 
            inset 0 10.6em 0 rgba(0, 0, 0, 0.4), 
            inset -10.6em 0 0 rgba(0, 0, 0, 0.4), 
            inset 0 -10.6em 0 rgba(0, 0, 0, 0.4);
                
    transition: box-shadow 0.75s;
}
 
/* We rotate the :after pseudo-element to get the edge from the corner, we could also just do that with box-shadows. */
.circle:after  {
    transform: rotate(45deg);
}
 
/* There is no problem using "pseudo-class + pseudo-element" :) */
.circle:hover:before,
.circle:hover:after  {
    box-shadow: 
            inset 0.86em 0 0 rgba(100, 100, 100, 0.5), 
            inset 0 0.86em 0 rgba(0, 0, 0, 0.5), 
            inset -0.86em 0 0 rgba(100, 100, 100, 0.5), 
            inset 0 -0.86em 0 rgba(0, 0, 0, 0.5);
}
.circle:hover > h1  {
    color: rgba(185, 185, 185,1);
}